* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    
}