* {
    box-sizing: border-box;
}

.kode-mono {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    gap: 100px;    
}

h1 {
    font-size: 64px;
}

.board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.border {
    border: black solid 20px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
}



h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    color: black;
    padding: 2px;
    border: black solid 5px;
}

.top3 {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

#playerScores1 {
    background-color: white;
    color: black;
    padding: 2px;
    border: black solid 5px;
}

#playerScores2 {
    background-color: white;
    color: black;
    padding: 2px;
    border: black solid 5px;
}

#playerScores3 {
    background-color: white;
    color: black;
    padding: 2px;
    border: black solid 5px;
}

.snake {
    background-color: black;
}







