* {
    box-sizing: border-box;
}

.kode-mono {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(62, 251, 4);
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url(https://i.imgur.com/iE3Hh3K.png);
    background-size: cover;
    background-position: center;
}